* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-register {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 15px;

  background-color: #1d2d4a;
}